.root {
    display: flex;
    min-height: 100vh;
}

.mainContent {
    flex-grow: 1;
    padding: 2rem;
    margin-top: 64px; /* AppBar height */
    transition: margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background-color: var(--mui-palette-background-default);
    width: 100%;
}