.messageAreaContainer {
    height: 100%;
    background-color: #fff;
}

.header {
    border-bottom: 1px solid #e0e0e0 !important;
}

.messageList {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
    gap: 20px;
}