.search {
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.kbd {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-right: 12px;
}

.kbd kbd {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}