.statePaper {
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    background-color: transparent;
    min-height: 400px;
}

.iconWrapper {
    color: var(--mui-palette-text-disabled);
}

.iconWrapper svg {
    font-size: 4.5rem;
}