.itemContainer {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}

.itemContainer:hover {
    background-color: rgba(255, 255, 255, 0.08);
}